[run]
source =
    distributed
omit =
    */tests/test*
    distributed/compatibility.py
    distributed/cli/utils.py
    distributed/deploy/ssh.py
    distributed/_ipython_utils.py

concurrency= 

[report]
show_missing = True

